<div class="container mt-5">
    @if (isFormView()) {
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h5>Create/Update Property</h5>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-sm btn-success" (click)="toggleView()">Go To List</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form #myForm="ngForm">
                <div class="row mb-3">
                    <label for="propertyTitle" class="form-label">Property Title</label>
                    <input type="text" #title="ngModel" required minlength="4" class="form-control" name="propertyTitle"
                        [(ngModel)]="formObj.propertyTitle" id="propertyTitle" placeholder="Enter Property Title">

                    @if (title.touched) {
                    <div class="text-danger">
                        @if(title.errors?.['required']) {
                        <span>This is Required</span>
                        }

                        @if (title.errors?.['minlength']) {
                        <span>Min 5 Char Required</span>
                        }
                    </div>
                    }
                </div>
                <div class="col-md-6">
                    <label for="propertyTypeId" class="form-label">Select Property Type </label>
                    <select name="propertyTypeId" #propertyTypeId="ngModel" required
                        [(ngModel)]="formObj.propertyTypeId" class="form-select">
                        <option value="">Select Property Type</option>
                        <option [value]="1">Duplex</option>
                        <option [value]="2">2 BHK</option>
                        <option [value]="3">3 BHK</option>
                    </select>

                    @if (propertyTypeId.touched) {
                    <div class="text-danger">
                        @if(propertyTypeId.errors?.['required']) {
                        <span>This is Required</span>
                        }
                    </div>
                    }
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" #location="ngModel" required class="form-control" name="location"
                            [(ngModel)]="formObj.location" id="location" placeholder="Enter Location">

                        @if (location.touched) {
                        <div class="text-danger">
                            @if(location.errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label for="pincode" class="form-label">Pincode</label>
                        <input type="text" #pincode="ngModel" class="form-control" name="pincode" required
                            [(ngModel)]="formObj.pincode" id="pincode" placeholder="Enter Pincode">

                        @if (pincode.touched) {
                        <div class="text-danger">
                            @if(pincode.errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" required name="city" #city="ngModel"
                            [(ngModel)]="formObj.city" id="city" placeholder="Enter City">

                        @if (city.touched) {
                        <div class="text-danger">
                            @if(city.errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" required name="state" #state="ngModel"
                            [(ngModel)]="formObj.state" id="state" placeholder="Enter State">

                        @if (state.touched) {
                        <div class="text-danger">
                            @if(state.errors?.['required']) {
                            <span>This is Required</span>
                            }
                        </div>
                        }
                    </div>
                </div>

                @if (formObj.propertyId == 0) {
                <div class="row mb-3">
                    <label for="propertyImage" class="form-label">Upload Property Image</label>
                    <input type="file" accept="image/*" (change)="selectFile($event)" />
                </div>
                }

                @if (formObj.propertyId !== 0) {
                <div class="row mb-3">
                    <label for="propertyImage" class="form-label">View Property</label>
                    <img [src]="formObj.photo" height="150px" width="80px"
                        style="max-width:200px !important;cursor:pointer" />
                </div>
                }


                <button type="button" (click)="onSave()" *ngIf="formObj.propertyId == 0" [disabled]="!myForm.form.valid"
                    class="btn btn-primary">Save</button>
                <button type="button" *ngIf="formObj.propertyId !== 0" (click)="onUpdate()"
                    class="btn btn-warning">Update</button>
            </form>
        </div>
    </div>
    } @else {
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h5>Property List</h5>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-sm btn-success" (click)="createNew()">Create New</button>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Property Title</th>
                        <th scope="col">Location</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Image</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="gridData.length == 0">
                        <tr>
                            <td colspan="7" class="text-center">
                                <p>No Record Found</p>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="gridData.length !== 0">
                        <tr *ngFor="let data of gridData;let sr= index">
                            <th scope="row">{{sr+1}}</th>
                            <td>{{data.propertyTitle}}</td>
                            <td>{{data.location}}</td>
                            <td>{{data.city}}</td>
                            <td>{{data.state}}</td>
                            <td><img [src]="data.photo" height="30px" width="30px" style="max-width:100%;cursor:pointer"
                                    (click)="onClick($event)" />
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm mx-2" (click)="onEdit(data)">Edit</button>
                                <button class="btn btn-danger btn-sm mx-2" (click)="onDelete(data)">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    }
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Property Image</h4>
            </div>
            <div class="modal-body">
                <img src="{{imgSrc}}" style="max-width:100%;cursor:pointer" class="modal-hover-opacity" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>